<body>
  <center>
  <div class="page-title-font pagebackground">Personal Collection</div>
  </center>

  <div class="pagebackground">
    <% @collection_cards.sorted_by_type.each do |type, collection_cards| %>
    <div class="collectionTitle"><%= type.capitalize %>: </div>
    <div class="collectionCards">
      <% collection_cards.each do |collection_card| %>
          <div class="hover_img">
            <li><%= collection_card[:quantity] %>:<a href=""><%= collection_card[:card].name %><span><img src="<%= collection_card[:card].image_url %>" /></span></a>
            </li>
          </div>
      <% end %>
    </div><br>
    <% end %>
  </div>
</body>

