<h1>Personal Collection</h1>

<%= link_to "Sort by Name", "collection_cards?sort=name" %><br>

<% @collection_cards.each do |collection_card| %>
  <div>
  <%= collection_card.quantity %> 
  <%= collection_card.card.name %>
  <img src="<%= collection_card.card.image_url %>">
  </div>
<% end %>


