<div class="pagebackground">
<h1> <%= @collection["name"] %> </h1>


  <div>
  <%= link_to "Add Cards to Collection", "/collection_cards/new", method: :post %>
  </div>

  <div>
  <%= link_to "Edit Card", "/collection_cards/#{@deck.id}/edit" %>
  </div>

  <div>
  <%= link_to "Remove Card", "/collection_cards/#{@deck.id}", method: :delete %>
  </div>
</div>