<!-- <center><h1>Here are all registered users: </h1></center>

<% @users.each do |user| %>
  <h3>First Name: <%= link_to user.first_name, "/users/#{user.id}/edit" %></h3>
  <h3>Last Name: <%= user.last_name %></h3>
  <h3>Email: <%= user.email %></h3>
  <% end %> -->


<center>Welcome to Mark's Magic Page</center>