<h1>Add new cards here:</h1>

<%= form_tag "/deck_cards", method: :post do%>

<div>
<%= label_tag :image_url, "Card: " %>
<%= text_field_tag :image_url, @deckcard.image_url%>
</div>

<%= submit_tag "Add to Deck" %>
</div>

<% end %>