<h2>Chosen Card: <%= @card["name"] %></h2>

<div>
<img src="<%= @card["editions"][0]["image_url"] %>">
</div>

<h3>Rarity: <%= @card["editions"][0]["rarity"] %></h3>

<%= link_to "Add to Collection", "/collection_cards/new", method: :post %>