<div class="owl-carousel">
<div class="owl-carousel clients carousel-autoplay">
                <div class="client">
                  <a href="#"><img src="/AncestralRecall.jpg" alt=""></a>
                </div>
                <div class="client">
                  <a href="#"><img src="/BlackLotus.jpg" alt=""></a>
                </div>
                <div class="client">
                  <a href="#"><img src="/MoxEmerald.jpg" alt=""></a>
                </div>
                <div class="client">
                  <a href="#"><img src="/MoxJet.jpg" alt=""></a>
                </div>
                <div class="client">
                  <a href="#"><img src="/MoxPearl.jpg" alt=""></a>
                </div>
                <div class="client">
                  <a href="#"><img src="/MoxRuby.jpg" alt=""></a>
                </div>
                <div class="client">
                  <a href="#"><img src="/MoxSapphire.jpg" alt=""></a>
                </div>
                <div class="client">
                  <a href="#"><img src="/TimeTwister.jpeg" alt=""></a>
                </div>
              </div>
</div>

<script>
$(".owl-carousel").owlCarousel();
</script>