<div class="pagebackground2">
<center><h2><div class="page-title-font" style="font-family: 'Merienda', cursive;">Magic Tutorial videos: </h2></center>
  <div class="videoCSS">
    <center>
    <iframe width="853" height="480" src="https://www.youtube.com/embed/mOKG5wsvkko?list=PLxpwtUT2AMscOzvABDbAC6iL44SSLPngQ" frameborder="0" allowfullscreen></iframe>
    <br>
    <iframe width="853" height="480" src="https://www.youtube.com/embed/V4rYwsBMKxs" frameborder="0" allowfullscreen></iframe>
    <br>
    <iframe width="853" height="480" src="https://www.youtube.com/embed/JJkNAt5xHrw?list=PLxpwtUT2AMscOzvABDbAC6iL44SSLPngQ" frameborder="0" allowfullscreen></iframe>
    <br>
    <iframe width="853" height="480" src="https://www.youtube.com/embed/bA7SFgvb_SI?list=PLxpwtUT2AMscOzvABDbAC6iL44SSLPngQ" frameborder="0" allowfullscreen></iframe>
    <br>
    <iframe width="853" height="480" src="https://www.youtube.com/embed/onkb0u6omW8" frameborder="0" allowfullscreen></iframe>
    <br>
    <iframe width="853" height="480" src="https://www.youtube.com/embed/v6N-PFnYFMk" frameborder="0" allowfullscreen></iframe>
    <br>
    <iframe width="853" height="480" src="https://www.youtube.com/embed/mBvugjSlgx0" frameborder="0" allowfullscreen></iframe>
    <br>
    <iframe width="853" height="480" src="https://www.youtube.com/embed/TVxdrfRfwww" frameborder="0" allowfullscreen></iframe>
    </center>
  </div>
</div>


