<h2>Magic Tutorial videos: </h2>
<div class="embed-responsive embed-responsive-16by9">
  <iframe class="embed-responsive-item" src="//www.youtube.com/embed/mOKG5wsvkko"></iframe>
</div>
<br>
<br>
<div class="embed-responsive embed-responsive-16by9">
  <iframe class="embed-responsive-item" src="//www.youtube.com/embed/V4rYwsBMKxs"></iframe>
</div>
<br>
<br>
<div class="embed-responsive embed-responsive-16by9">
  <iframe class="embed-responsive-item" src="//www.youtube.com/embed/JJkNAt5xHrw"></iframe>
</div>
<br>
<br>
<div class="embed-responsive embed-responsive-16by9">
  <iframe class="embed-responsive-item" src="//www.youtube.com/embed/onkb0u6omW8"></iframe>
</div>
<br>
<br>
<div class="embed-responsive embed-responsive-16by9">
  <iframe class="embed-responsive-item" src="//www.youtube.com/embed/84ggY5vWRvI"></iframe>
</div>
