body {
  font-family: 'Philosopher', sans-serif;
}
.homeTitle {
  font-family: fantasy;
  font-size: 200px;
  color: red;
  background-image: url('http://img12.deviantart.net/3f61/i/2016/132/2/8/fire_and_ice_by_jojoesart-da28aqe.jpg');
  background-repeat: no-repeat;
  background-size: 100% 100%;

}

.headerbackground {
  background-image: url('http://wallpapercave.com/wp/mlGFLlB.jpg') ;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.searchResult {
  position: relative;
}
.searchForm {
  background-color: white;
  background-image: url('');

}
.collectionIndex {
  background-image: url('http://i.imgur.com/vjwu0.jpg');
  background-repeat: no-repeat; 
  -webkit-background-size: cover; 
  -moz-background-size: cover; 
  -o-background-size: cover; 
  background-size: cover; 
}
.collectionCards {
  font-size: 15px;
}
.pagebackground {
  background-image: url('https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcQ4SyPi7vzQwZnOMxLtMRnAgndynyK6qMoSjyjb6V-ON56irA9o');
  background-repeat: no-repeat; 
  -webkit-background-size: cover; 
  -moz-background-size: cover; 
  -o-background-size: cover; 
  background-size: cover; 
  background-size: 100% 100%;

}

.animateCard {
  display: none;
}

.rotated {
  transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
}
// hover_img refers to index of collection cards allows mouse over to load image of card
.hover_img a {
  position: absolute;
}
.hover_img a span {
  position: absolute; display: none; z-index: 5;
}
.hover_img a:hover span {
  display: block;
  height: 350px;
  width: 250px;
  position: fixed;
  left: 1150px;
  top: 350px;
  bottom: 50px;
}

// hover_img allows mouse over to load image of card
.hover_img2 a {
  position: relative;
}
.hover_img2 a span {
  position: absolute; display: none; z-index: 5;
}
.hover_img2 a:hover span {
  display: block;
  height: 300px;
  width: 200px;
  position: fixed;
  left: 350px;
  bottom: 50px;
}
// loader css loads an image while website loads
.loader {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background: url('/magic_five.png') 50% 50% no-repeat rgb(249, 249, 249);
  opacity: .8;
}

.page-title-font {
  font: fantasy;
  color: red;
  font-size: 35px;
}
// settings for images in carousel on home page
.homeCarousel {
  margin: auto;
  display: block;
  position: fixed;
  left: 600px;
  right: 600px;
}

.glyph-location {
  margin-top: 100px;
  font-size: 100px;
}

.glyphicon-fire {
  color: red;
}

.glyphicon-tint {
  color: blue;
}

// below is the carousel settings for drag box
.carousel-control { 
  width:  4%; 
}
.carousel-control.left,.carousel-control.right {
  margin-left:15px;background-image:none;
}
@media (max-width: 767px) {
  .carousel-inner .active.left { left: -100%; }
  .carousel-inner .next        { left:  100%; }
  .carousel-inner .prev    { left: -100%; }
  .active > div { display:none; }
  .active > div:first-child { display:block; }
}
@media (min-width: 767px) and (max-width: 992px ) {
  .carousel-inner .active.left { left: -50%; }
  .carousel-inner .next        { left:  50%; }
  .carousel-inner .prev    { left: -50%; }
  .active > div { display:none; }
  .active > div:first-child { display:block; }
  .active > div:first-child + div { display:block; }
}
@media (min-width: 992px ) {
  .carousel-inner .active.left { left: -16.7%; }
  .carousel-inner .next        { left:  16.7%; }
  .carousel-inner .prev    { left: -16.7%; }  
}

.collectionTitle {
  padding-left: 150px;
  font-family: fantasy;
  color: red;
  font-size: 20px;
}
// below are the css needed for collection cards index page
.collectionCards {
  overflow:hidden;
  width: 1000px;
}

  .collectionCards li {
    float: left;
    padding-left: 150px;
  }

.indexCarousel  {
   max-height: 300px;
   margin: auto;
}

.droppable {

}

.deckDroppable {
  background-image: url('http://static.tumblr.com/0eca9df375c88785a79e8ba5e6343198/6r7kq9c/kban9yjwj/tumblr_static_1lxpo4zgk36s08cc80kwoc008.png');
  background-repeat: no-repeat;
  background-size: 100% 100%
}

.collectionDroppable {
  background-image: url('http://pre09.deviantart.net/d76a/th/pre/i/2012/092/8/9/magic_the_gathering__mana_symbols_by_nikoru_s__nobody-d4nouoc.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.table-responsive {
  font-family: 'Merienda' , cursive; 
  color: red !important;
  text-size: 35px !important;
}

// .draggable { 
//   z-index: 100;
// }


// .droppable {
//   z-index: 1;
// }

