body {
  background-image: url(/hexabump_@2X.png);
}

.headerbackground {
  background-image: url(/footer_lodyas.png) !important;
}

.pagebackground {
  background-image: url(/hexabump_@2X.png) !important;
}

.animateCard {
  display: none;
}

.rotated {
  transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
}
// hover_img allows mouse over to load image of card
.hover_img a {
  position: absolute;
}
.hover_img a span {
  position: absolute; display: none; z-index: 5;
}
.hover_img a:hover span {
  display: block;
  height: 275px;
  width: 175px;
  position: fixed;
  left: 300px;
  top: 150px;
}

// loader css loads an image while website loads
.loader {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background: url('/magic_five.png') 50% 50% no-repeat rgb(249, 249, 249);
  opacity: .8;
}

