<div class="pagebackground">
  <center><h1 class="page-header page-title-font"><%= @page_title %></h1></center>
  
  <center><a href="/decks/new" class="btn btn-default-transparent btn-sm btn-hvr hvr-radial-out">Create New Deck</a></center>
 
  <br>
  <div class="table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th>Deck name/Add Card to Deck</th>
          <th>Deck color(s)</th>
          <th>Description</th>
          <th>Edit Deck Info</th>
          <th>Delete</th>
        </tr>
      </thead>
      <tbody>
        <% @decks.each do |deck| %>
          <div class="pagebackground">
            <tr>
              <td><div class="deck_name"><%= link_to deck.name, "/decks/#{deck.id}/" %></div></td>
              <td><div class="deck_color"><%= deck.color %></div></td>
              <td><div class="deck_description"><%= deck.description %></div></td>
              <td><a href="/decks/#{deck.id}/edit" class="btn btn-warning btn-sm">Edit Deck Info <i class="fa fa-pencil pl-10"></i></a></td>
              <td><a href="/decks/#{deck.id}", method: :delete class="btn radius-50 btn-danger btn-sm">Delete <i class="fa fa-trash pl-10"></i></a></td>
            </tr>
          </div>
        <% end %>
      </tbody>
      </table>
    </div>
</div>