search page for individual deck cards

 <center><div class="input-group text-center">
      <%= form_tag("/deckcards_search", :method => "get", id: "search-form") do %>
      <%= text_field_tag :name, params[:name], placeholder: "Search Cards ", class: 'form-control' %>
      <span class="input-group-btn text-center">
        <%= submit_tag "Search", class: 'btn btn-default' %>
      </span>
      <% end %>
    </div></center>